{% extends "base.html" %}
{% block content %}
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">About Us...</h1>
            <p class="lead fw-normal text-white-50 mb-0">Welcome to About</p>
        </div>
    </div>
</header>
<br><br>
<div class="container">
    <div class="row">
        <center>
            <div class="col-8">
                <p align="justify">
                    <h2>Welcome to SK Fashion – Where Style Meets Elegance!</h2><br><br>

                    At SK Fashion, we believe that fashion is not just about clothing; it's a statement, an expression of individuality. Our passion for style drives us to curate a collection that transcends trends, bringing you timeless pieces that reflect your unique personality. Whether you're seeking casual comfort or chic sophistication, we've got your fashion needs covered.<br><br>
                    
                    <h3>Our Story:</h3><br><br>
                    Founded in 2017, SK Fashion has quickly become a go-to destination for fashion enthusiasts seeking quality, style, and affordability. What started as a small boutique has blossomed into a renowned online fashion hub, offering carefully curated selections for men and women.<br><br>
                    
                    <h3>Our Philosophy:</h3><br><br>
                    At SK Fashion, we believe in the power of fashion to empower and inspire. Our philosophy revolves around inclusivity, sustainability, and the celebration of diversity. Every piece in our collection is chosen with utmost care, ensuring that it not only enhances your wardrobe but also aligns with our commitment to ethical practices.<br><br>
                    
                    <h3>Why Choose SK Fashion:</h3><br><br>
                    - <h4>Quality Assurance:</h4> We source our materials from trusted suppliers to guarantee the durability and comfort of every garment.<br><br>
                    - <h4>Affordable Luxury:</h4> Elevate your style without breaking the bank. Our commitment to affordability ensures that everyone can enjoy fashion-forward looks.<br><br>
                    - <h4>Customer-Centric Approach:</h4> Your satisfaction is our priority. From selecting products to after-sales support, we strive to exceed your expectations at every step.<br><br>
                    
                    <h3>Contact Us:</h3><br><br>
                    We value your feedback, inquiries, and suggestions. Our dedicated customer service team is here to assist you.<br><br>
                    
                    <h4>Customer Service Email:</h4> skfashion@gmail.com <br><br>
                    <h4>Phone Number:</h4> 9744935628<br><br>
                    
                    <h3>Connect With Us:</h3><br><br>
                    Stay updated on the latest trends, promotions, and fashion tips by connecting with us on social media.<br><br>
                    
                    - <h4>Instagram:</h4> @skfashion_factory<br><br>
                    - <h4>Facebook:</h4> /skfashion<br><br>
                    
                    <h3>Visit Us:</h3>
                    While our online store offers the convenience of shopping from anywhere.<br><br>
                    Thank you for choosing SK Fashion. We look forward to being part of your style journey!
                </p>
            </div>
        </center>
    </div>
</div>

{% endblock %}