{% extends "base.html" %}

{% block content %}
<!-- Header-->  
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Shopping Cart</h1>
            <p class="lead fw-normal text-white-50 mb-0">View Your Cart...</p>
        </div>
    </div>
</header>
<br><br>
<div class="container">
    {% if cart_products %}
    {% for product in cart_products %}
    <div class="card mb-3" style="max-width: 540px;">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="{{product.image.url}}" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">{{product.name}}</h5>
                    <hr>
                    <p class="card-text">{{product.description}}</p>
                    {% if product.is_sale %}
                    <strong>₹{{product.sale_price}}</strong>
                    &nbsp;
                    <strike>
                        ₹{{product.price}}
                    </strike>
                    <br>
                    {% else %}
                    ₹{{product.price}}
                    <br>
                    {% endif %}
                    <br>
                    <div class="row">
                        <div class=" col-md-4">Quantity:</div>
                        <div class="col-md-3">
                            <select class="form-select form-select-sm" id="qty-cart">
                                {% for key,value in quantities.items %}
                                {% if key == product.id|slugify %}
                                <option selected>
                                    {{ value }}
                                </option>
                                    {% endif %}
                                    {% endfor %}
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                            </select>
                        </div>
                    </div>
                    <br>
                    <a href="{% url "home" %}" class="btn btn-secondary">Home</a>
                </div>
            </div>
        </div>
    </div>
    <br>
    {% endfor %}
    {% else %}
    There is nothing in your cart...
    {% endif %}
</div>
{% endblock %}